img{
    width: 2rem;
    height: 2rem;
}


@media (max-width: 590px) {
    body{
        font-size: 1rem;
    }
}

#id:hover{
    background-color: aquamarine;
}
body{
    background-color: rgba(120, 243, 175, 0.329);
}